* {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ysabeau', sans-serif;
    overflow: hidden;
    height: 100vh;
    background-image: url("images/gradient background.jpg");
    background-size: cover;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

.heading {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    padding-bottom: 20px;
}

.filters {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;

}

.filter-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 30px;
}

button {
    color: #0a2c38;
    background-color: transparent;
    border: none;
}

.filter-btn {
    /* display: block; */
    color: #0a2c38;
    height: 20px;
    text-align: left;
    align-items: flex-start;
    position: relative;
    border-bottom: 1px solid transparent;
    padding-top: 5px;
}

button.home {
    border: 1px solid #0a2c38;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.instruction {
    font-size: 24px;
    color: #0a2c38;
}

h3 {
    border: 1px solid #0a2c38;
    text-align: center;
    font-weight: 400;
    font-size: medium;
}

h4 {
    padding-right: 30px;
}

.image-box {
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
    padding-bottom: 10px;
    position: relative;
}

img {
    width: 200px;
    transition: z-index 0.5s ease-out;
    /* smooth transition effect */
}

img:hover {
    z-index: 99;
}

.tooltip {
    background: transparent;
    color: #ec4a7a;
    font-weight: 550;
    font-size: 16px;
    padding: 5px;
    font-size: 12px;
}

.move-box.hide {
    display: none;
}

.move-box.show {
    /* display: block; */
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.filter-btn.active {
    text-decoration: underline;
    color: black;
    border-radius: 20px
}

.filter-btn.active::after {
    content: 'x';
    position: absolute;
    top: 13px;
    left: 96px;
    font-size: 18px;
    margin-left: 10px;
    transform: translate(-50%, -50%);
    font: weight 6px;
    ;
    color: black;

}

.label {
    padding: 20px
}

.selectedlabel {
    border: none;
    transition-timing-function: ease-in;
    transition-delay: 0.02s;
    align-items: center;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.551);
    color: #0a2c38;
    font-size: 14px;
    /* border-radius: 24px; */
}


.selectedlabel:hover {
    background-color: black;
    color: white;
    border-radius: 24px;

}