* {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    background-image: url("images/gradient background.jpg");
    background-size: cover;
}