* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    font-family: 'Tilt Prism', cursive;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

h1 {
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    padding: 10px 0px;
    font-size: 300%;
}

p {
    font-family: 'Titillium Web', sans-serif;
    line-height: 24px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
    border-bottom: 1px solid black;
}

h3 {
    font-family: 'Playfair Display', serif;
    padding: 20px;
    padding-left: 0;
}

h5 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: rgb(62, 62, 62);
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

dt {
    position: sticky;
    top: 0;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.home {
    color: white;
    position: absolute;
    z-index: 9;
    text-decoration: none;
    padding: 20px;

}

.content {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 0;
    min-height: 100vh;
}

.left {
    width: 20%;
    padding: 10px;
    border-right: 1px solid black;
    min-height: 100%;
}

.right {
    width: 80%;
    padding: 20px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.navigation {
    background-color: transparent;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.project {
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-top: 40px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
}

ul {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 20px;
}

.project-s {
    display: flex;
    padding: 20px;
}

.proimg-left {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.images {
    padding-bottom: 20px;
}

.protext-right {
    width: 30%;
    padding-top: 60px;
    padding-left: 30px;
}

a:hover {
    animation: colors 20s ease-in;
}


@keyframes colors {
    0% {
        color: #5db8b5;
    }
}