body {
    font-family: 'Playfair Display', serif;
    font-family: 'Source Sans Pro', sans-serif;
    background: #64718f;
}

.container {
    background: #BF7E78;
    margin: 20px;
    padding: 20px 40px;
    line-height: 28px;
}

.container2 {
    margin: 20px;
    padding: 20px 40px;
    line-height: 28px;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    font-size: 50px;
}

p {
    font-size: 'Source Sans Pro', sans-serif;
    width: 70%;
    margin-left: 5px;
}

.pullquote {
    font-family: 'Playfair Display', serif;
    color: #F2E4DC;
    font-size: 32px;
    font-style: italic;
    line-height: 48px;
    width: 100%;
}

.pullquote2 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #BCC5CE;
    font-style: italic;
    line-height: 48px;
    width: 100%;
}