body {
    min-height: 90vh;
    min-width: 90vw;
    margin: 30px;
    border: 2px solid black;
    display: flex;
    align-items: flex-start;
}

.left {
    width: 60%;
    height: 100%;
    margin: 70px;
    margin-bottom: 0px;
}

.right {
    width: 40%;
    height: 100%;
    margin: 70px;
    margin-bottom: 100px;
}

h2 {
    color: brown;
}

h2,
h4 {
    line-height: 36px;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 50%;
    margin-top: 20px;
}



@media (max-width: 960px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        width: 80%;
    }
}

@media (max-width: 450px) {
    body {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        width: 90%;
    }
}